@model IEnumerable<DocumentType>

@if(Model != null) {
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Warning (Day)</th>
        <th>Deadline (Day)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Id</td>
          <td>@item.Title</td>
          <td>@item.PeriodWarning</td>
          <td>@item.PeriodEnd</td>
          <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}else{
  <table class="table not-found">
    <thead>
    <tr>
      <th>Search Not Found...</th>
    </tr>
    </thead>
  </table>
}