@model Doctrack.Models.DocumentViewModel

@{
  ViewData["Title"] = "Documents List";
}

<h2>Documents</h2>
<hr />

<p class="btn btn-primary">
  <a asp-action="Create" style="color:white;">Create Document</a>
</p>

<div class="flex-container">
  <div class="flex-header">
    <div class="cell">Receipt Date</div>
    <div class="cell">Documents No.</div>
    <div class="cell">Doc.Title</div>
    <div class="cell">Operation</div>
    <div class="cell">Op.Date</div>
    <div class="cell">Command Order</div>
    <div class="cell">Remarks</div>
    <div class="cell">End Date</div>
    <div class="cell">Actions</div>
  </div>
  @foreach (var doc in Model.Documents.OrderBy(d => d.EndDate))
  {
    <div id="@doc.Id" class="flex-row main-row" onclick="displayTable('@doc.Id')" 
      @if
      (
        doc.EndDate != null
      ){@Html.Raw("style='background-color: #9b9b9bb8;'")} 
      @if
      (
        doc.EndDate == null &&
        (DateTime.Now.Subtract(
            doc.ReceiptDate??DateTime.MinValue
            ).TotalDays > doc.DocumentType?.Period
        )
      ){@Html.Raw("style='background-color: #ff6767cc;'")}
    >
      <div class="cell">@doc.ReceiptDate?.ToString("dd/MM/yyyy")</div>
      <div class="cell">@doc.Id</div>
      <div class="cell">@doc.DocumentType?.Title</div>
      <div class="cell">@doc.Operation</div>
      <div class="cell">@doc.OperationDate?.ToString("dd/MM/yyyy")</div>
      <div class="cell">@doc.CommandOrder</div>
      <div class="cell">@doc.RemarkAll</div>
      <div class="cell">
        @doc.EndDate?.ToString("dd/MM/yyyy")
      </div>
      <div class="cell">
        <a asp-action="Add" asp-route-id="@doc.Id">Add</a>
        <a asp-action="Edit" asp-route-id="@doc.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@doc.Id">Delete</a>
      </div>
    </div>
    var currentDD = Model.DocumentsDetail
      .Where(dd => dd.Doc_Id == doc.Id);
    @if (currentDD.Count() > 0)
    {
      <div id="sub-@doc.Id" class="flex-container sub-content">
        <div class="flex-header sub-header">
          <div class="cell">Job</div>
          <div class="cell">Title</div>
          <div class="cell">First Name</div>
          <div class="cell">Last Name</div>
          <div class="cell">Remark</div>
          <div class="cell">Actions</div>
        </div>
      
        @foreach (var docd in currentDD)
        {
          <div class="flex-row sub-row">
            <div class="cell">@docd.Employee?.Job?.Title</div>
            <div class="cell">@docd.Employee?.Rank?.Title</div>
            <div class="cell">@docd.Employee?.FirstName</div>
            <div class="cell">@docd.Employee?.LastName</div>
            <div class="cell">@docd.Remark</div>
            <div class="cell">
              <a asp-action="Edit" asp-route-id="@doc.Id">Edit</a>
              <a asp-action="Delete" asp-route-id="@doc.Id">Delete</a>
            </div>
          </div>
        }
      </div>
    }
  }
</div>

<script>
  function displayTable(docId) {
    const target = document.getElementById(docId);
    const subTarget = document.getElementById("sub-"+docId);

    if (subTarget != null && !target.classList.contains('active')){
      disableActive();
      const nextTarget = subTarget.nextElementSibling;
      target.classList.toggle("active");
      subTarget.classList.toggle("expand");

      if (nextTarget != null) nextTarget.classList.toggle("row-footer");
    }else {
      disableActive();
    }
  }

  function disableActive() {
    var disableElements = document.querySelectorAll('.active, .expand, .row-footer');
    disableElements.forEach(element => {
      element.classList.remove('active', 'expand', 'row-footer');
    });
  }

</script>