@model Doctrack.Models.DocumentViewModel

@{
  ViewData["Title"] = "Documents List";
}

<h2>Documents</h2>
<hr />

<div class="flex-action">
  <div class="button button-primary">
    <a 
      asp-action="Create"
      class="text-decoration-none"
      style="color:white;"
    >
      <i class="bi bi-file-earmark-plus-fill"></i>
      New Document
    </a>
  </div>
</div>

<div class="container-wrapper">
  <div class="flex-container">
    <div class="flex-header">
      <div class="cell">Receipt Date</div>
      <div class="cell">Documents No.</div>
      <div class="cell">Doc.Type</div>
      <div class="cell cell-title">Doc.Title</div>
      <div class="cell">Operation</div>
      <div class="cell">Op.Date</div>
      <div class="cell">Command Order</div>
      <div class="cell">Remarks</div>
      <div class="cell">End Date</div>
    </div>
    @foreach (var doc in Model.Documents)
    {
      <div id="@doc.Id" class="flex-row main-row" onclick="displayTable('@doc.Id')" 
        @if
        (
          doc.EndDate != null
        ){@Html.Raw("style='background-color: #FAE8E0;'")} 
        @if
        (
          doc.EndDate == null &&
          (DateTime.Now.Subtract(
              doc.ReceiptDate??DateTime.MinValue
              ).TotalDays > doc.DocumentType?.Period
          )
        ){@Html.Raw("style='background-color: #D8A7B1;'")}
      >
        <div class="cell">@doc.ReceiptDate?.ToString("dd/MM/yyyy")</div>
        <div class="cell">@doc.Id</div>
        <div class="cell">@doc.DocumentType?.Title</div>
        <div class="cell cell-title">@doc.Doc_Title</div>
        <div class="cell">@doc.Operation</div>
        <div class="cell">@doc.OperationDate?.ToString("dd/MM/yyyy")</div>
        <div class="cell">@doc.CommandOrder</div>
        <div class="cell">@doc.RemarkAll</div>
        <div class="cell">
          @doc.EndDate?.ToString("dd/MM/yyyy")
        </div>
      </div>
      <div id="sub-@doc.Id" class="flex-container sub-content">
        <div class="flex-header sub-header">
          <div class="cell">Job</div>
          <div class="cell">Title</div>
          <div class="cell">First Name</div>
          <div class="cell">Last Name</div>
          <div class="cell">Remark</div>
        </div>
        @{ var currentDD = Model.DocumentsDetail
            .Where(dd => dd.Doc_Id == doc.Id);
          @if (currentDD.Count() > 0)
          {
            @foreach (var docd in currentDD)
            {
              <div class="flex-row sub-row">
                <div class="cell">@docd.Employee?.Job?.Title</div>
                <div class="cell">@docd.Employee?.Rank?.Title</div>
                <div class="cell">@docd.Employee?.FirstName</div>
                <div class="cell">@docd.Employee?.LastName</div>
                <div class="cell">@docd.Remark</div>
              </div>
        }}} @*End razor tag*@
      </div>
    } @*End foreach Model.Documents*@
  </div>
</div>
<div id="jobsData" data-json="@ViewBag.JobsTitle"></div>
<div id="ranksData" data-json="@ViewBag.RanksTitle"></div>

<!-- Modal -->
<div id="writableModal" class="modal-container">
  @Html.AntiForgeryToken()
  <div class="modal-content">
    <div class="modal-title">
      <div id="modal-title"></div>
      <div><span class="close">&times;</span></div>
    </div>
    <hr />
    <div id="modal-body" class="modal-body">
    </div>
    <div class="modal-footer">
      <div id="modal-close-button" class="button button-danger">Close</div>
      <div id="modal-accept-button" class="button button-primary">Confirm</div>
    </div>
  </div>
</div>


<!-- Floating Action Button -->
<div class="fab-wrapper">
  <input id="fabCheckbox" type="checkbox" class="fab-checkbox" disabled/>
  <label class="fab" for="fabCheckbox">
    <i class="bi bi-plus-lg"></i>
  </label>
  <div class="fab-wheel">
    <a id="add-emp-icon" class="fab-action fab-action-1" disabled>
      <i class="bi bi-person-plus-fill"></i>
    </a>
    <a id="del-emp-icon" class="fab-action fab-action-2" disabled>
      <i class="bi bi-person-dash-fill"></i>
    </a>
    <a id="edit-doc-icon" class="fab-action fab-action-3" disabled>
      <i class="bi bi-pencil-fill"></i>
    </a>
    <a id="del-doc-icon" class="fab-action fab-action-4" disabled>
      <i class="bi bi-trash-fill"></i>
    </a>
    <a id="upop-doc-icon" class="fab-action fab-action-5" disabled>
      <i class="bi bi-send-check-fill"></i>
    </a>
    <a id="sub-doc-icon" class="fab-action fab-action-6" disabled>
      <i class="bi bi-file-earmark-check-fill"></i>
    </a>
  </div>
</div>

<script src="~/js/documentsIndex.js"></script>
