@model Doctrack.Models.DocumentViewModel

@{
  ViewData["Title"] = "Documents List";
}

<h2>Documents</h2>
<hr />

<div class="flex-action">
  <div class="button button-primary">
    <a 
      asp-action="Create"
      class="text-decoration-none"
      style="color:white;"
    >
      <i class="bi bi-file-earmark-plus-fill"></i>
      Document
    </a>
  </div>
</div>

<div class="container-wrapper">
  <div class="flex-container">
    <div class="flex-header">
      <div class="cell">Receipt Date</div>
      <div class="cell">Documents No.</div>
      <div class="cell">Doc.Type</div>
      <div class="cell cell-title">Doc.Title</div>
      <div class="cell">Operation</div>
      <div class="cell">Op.Date</div>
      <div class="cell">Command Order</div>
      <div class="cell">Remarks</div>
      <div class="cell">End Date</div>
    </div>
    @foreach (var doc in Model.Documents)
    {
      <div id="@doc.Id" class='flex-row main-row
        @(doc.EndDate != null ?
          "success" :
          doc.OperationDate == null ?
          "normal" :
          DateTime.Now.Subtract(
            doc.OperationDate??DateTime.MinValue
          ).TotalDays >= doc.DocumentType?.PeriodEnd ?
          "late" :
          DateTime.Now.Subtract(
            doc.OperationDate??DateTime.MinValue
          ).TotalDays >= doc.DocumentType?.PeriodWarning ?
          "warning" :
          "normal"
        )'>
        <div class="cell receipt-date" data-receiptDate='@doc.ReceiptDate?.ToString("dd/MM/yyyy")'></div>
        <div class="cell">@doc.Id</div>
        <div class="cell">@doc.DocumentType?.Title</div>
        <div class="cell cell-title">@doc.Doc_Title</div>
        <div class="cell">@doc.Operation</div>
        <div class="cell operation-date" data-operationDate='@doc.OperationDate?.ToString("dd/MM/yyyy")'></div>
        <div class="cell">@doc.CommandOrder</div>
        <div class="cell">@doc.RemarkAll</div>
        <div class="cell end-date" data-endDate='@doc.EndDate?.ToString("dd/MM/yyyy")'></div>
      </div>
      <div id="sub-@doc.Id" class="flex-container sub-content">
        <div class="flex-header sub-header">
          <div class="cell">Job</div>
          <div class="cell">Title</div>
          <div class="cell">First Name</div>
          <div class="cell">Last Name</div>
          <div class="cell">Remark</div>
        </div>
        @if (doc.DocumentDetails?.Count() > 0)
          {
            @foreach (var docd in doc.DocumentDetails)
            {
              <div id="@docd.Id" class="flex-row sub-row">
                <div class="cell">@docd.Job?.Title</div>
                <div class="cell">@docd.Rank?.Title</div>
                <div class="cell">@docd.Employee?.FirstName</div>
                <div class="cell">@docd.Employee?.LastName</div>
                <div class="cell">@docd.Remark</div>
              </div>
        }} @*End razor tag*@
      </div>
    } @*End foreach Model.Documents*@
  </div>
</div>
<div id="jobsData" data-json="@ViewBag.JobsTitle"></div>
<div id="ranksData" data-json="@ViewBag.RanksTitle"></div>

<!-- Modal -->
<div id="writableModal" class="modal-container">
  @Html.AntiForgeryToken()
  <div class="modal-content">
    <div class="modal-title">
      <div id="modal-title"></div>
      <div><span class="close">&times;</span></div>
    </div>
    <hr />
    <div id="modal-body" class="modal-body">
    </div>
    <div class="modal-footer">
      <div id="modal-close-button" class="button button-danger">Close</div>
      <div id="modal-accept-button" class="button button-primary">Confirm</div>
    </div>
  </div>
</div>


<!-- Floating Action Button -->
<div class="fab-wrapper">
  <input id="fabCheckbox" type="checkbox" class="fab-checkbox" disabled/>
  <label class="fab" for="fabCheckbox">
    <i class="bi bi-plus-lg"></i>
  </label>
  <div class="fab-wheel">
    <a id="add-emp-icon" class="fab-action fab-action-1" disabled>
      <i class="bi bi-person-plus-fill"></i>
    </a>
    <a id="del-emp-icon" class="fab-action fab-action-2" disabled>
      <i class="bi bi-person-dash-fill"></i>
    </a>
    <a id="edit-doc-icon" class="fab-action fab-action-3" disabled>
      <i class="bi bi-pencil-fill"></i>
    </a>
    <a id="del-doc-icon" class="fab-action fab-action-4" disabled>
      <i class="bi bi-trash-fill"></i>
    </a>
    <a id="upop-doc-icon" class="fab-action fab-action-5" disabled>
      <i class="bi bi-send-check-fill"></i>
    </a>
    <a id="sub-doc-icon" class="fab-action fab-action-6" disabled>
      <i class="bi bi-file-earmark-check-fill"></i>
    </a>
  </div>
</div>

<script src="~/js/documentsIndex.js"></script>
<script>

  //Convert format year to Buddhist
  $(document).ready(function(event) {
    const receiptDates = document.querySelectorAll('.receipt-date');
    const operationDates = document.querySelectorAll('.operation-date');
    const endDates = document.querySelectorAll('.end-date');

    const buddhistOptions = {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      calendar: 'buddhist',
      @* numberingSystem: 'thai' *@
    };

    const thaiBuddhistFormat = new Intl.DateTimeFormat('th-TH-u-ca-buddhist', buddhistOptions);

    receiptDates.forEach(div => {
      const receiptDate = div.getAttribute('data-receiptDate');
      const [day, month, year] = receiptDate.split('/').map(Number);
      const date = new Date(year, month-1, day);
      div.textContent = thaiBuddhistFormat.format(date);
    });
  
    operationDates.forEach(div => {
      const operationDate = div.getAttribute('data-operationDate');
      if (operationDate == "") return;
      const [day, month, year] = operationDate.split('/').map(Number);
      const date = new Date(year, month-1, day);
      div.textContent = thaiBuddhistFormat.format(date);
    });

    endDates.forEach(div => {
      const endDate = div.getAttribute('data-endDate');
      if (endDate == "") return;
      const [day, month, year] = endDate.split('/').map(Number);
      const date = new Date(year, month-1, day);
      div.textContent = thaiBuddhistFormat.format(date);
    });
  });
  
</script>