@model Doctrack.Models.DocumentViewModel

@{
  ViewData["Title"] = "Documents List";
}

<h2>Documents</h2>
<hr />

<div class="flex-action">
  <div class="button button-primary">
    <a 
      asp-action="Create"
      class="text-decoration-none"
      style="color:white;"
    >
      <i class="bi bi-file-earmark-plus-fill"></i>
      New Document
    </a>
  </div>
</div>

<div class="container-wrapper">
  <div class="flex-container">
    <div class="flex-header">
      <div class="cell">Receipt Date</div>
      <div class="cell">Documents No.</div>
      <div class="cell">Doc.Type</div>
      <div class="cell cell-title">Doc.Title</div>
      <div class="cell">Operation</div>
      <div class="cell">Op.Date</div>
      <div class="cell">Command Order</div>
      <div class="cell">Remarks</div>
      <div class="cell">End Date</div>
    </div>
    @foreach (var doc in Model.Documents)
    {
      <div id="@doc.Id" class="flex-row main-row" onclick="displayTable('@doc.Id')" 
        @if
        (
          doc.EndDate != null
        ){@Html.Raw("style='background-color: #FAE8E0;'")} 
        @if
        (
          doc.EndDate == null &&
          (DateTime.Now.Subtract(
              doc.ReceiptDate??DateTime.MinValue
              ).TotalDays > doc.DocumentType?.Period
          )
        ){@Html.Raw("style='background-color: #D8A7B1;'")}
      >
        <div class="cell">@doc.ReceiptDate?.ToString("dd/MM/yyyy")</div>
        <div class="cell">@doc.Id</div>
        <div class="cell">@doc.DocumentType?.Title</div>
        <div class="cell cell-title">@doc.Doc_Title</div>
        <div class="cell">@doc.Operation</div>
        <div class="cell">@doc.OperationDate?.ToString("dd/MM/yyyy")</div>
        <div class="cell">@doc.CommandOrder</div>
        <div class="cell">@doc.RemarkAll</div>
        <div class="cell">
          @doc.EndDate?.ToString("dd/MM/yyyy")
        </div>
      </div>
      var currentDD = Model.DocumentsDetail
        .Where(dd => dd.Doc_Id == doc.Id);
      @if (currentDD.Count() > 0)
      {
        <div id="sub-@doc.Id" class="flex-container sub-content">
          <div class="flex-header sub-header">
            <div class="cell">Job</div>
            <div class="cell">Title</div>
            <div class="cell">First Name</div>
            <div class="cell">Last Name</div>
            <div class="cell">Remark</div>
          </div>

          @foreach (var docd in currentDD)
          {
            <div class="flex-row sub-row">
              <div class="cell">@docd.Employee?.Job?.Title</div>
              <div class="cell">@docd.Employee?.Rank?.Title</div>
              <div class="cell">@docd.Employee?.FirstName</div>
              <div class="cell">@docd.Employee?.LastName</div>
              <div class="cell">@docd.Remark</div>
            </div>
          }
        </div>
      }
    }
  </div>
</div>

<div class="fab-wrapper">
  <input id="fabCheckbox" type="checkbox" class="fab-checkbox" disabled/>
  <label class="fab" for="fabCheckbox">
    <i class="bi bi-plus-lg"></i>
  </label>
  <div class="fab-wheel">
    <a class="fab-action fab-action-1">
      <i class="bi bi-person-plus-fill"></i>
    </a>
    <a class="fab-action fab-action-2">
      <i class="bi bi-pencil-fill"></i>
    </a>
    <a asp-action="Delete" id="delete-doc-icon" class="fab-action fab-action-3">
      <i class="bi bi-trash-fill"></i>
    </a>
    <a class="fab-action fab-action-4">
      <i class="bi bi-send-check-fill"></i>
    </a>
    <a class="fab-action fab-action-5">
      <i class="bi bi-file-earmark-check-fill"></i>
    </a>
  </div>
</div>

<script>
  const addEmpIcon = document.getElementById("add-emp-icon");
  const editDocIcon = document.getElementById("edit-doc-icon");
  const delDocIcon = document.getElementById("del-doc-icon");
  const sendOpIcon = document.getElementById("sned-doc-icon");
  const submitIcon = document.getElementById("sub-doc-icon");
  const floatingBtn = document.getElementById("fabCheckbox");

  function displayTable(docId) {
    const target = document.getElementById(docId);
    const subTarget = document.getElementById("sub-"+docId);

    if (subTarget != null && !target.classList.contains('active')){
      disableActive();
      const nextTarget = subTarget.nextElementSibling;
      target.classList.toggle("active");
      subTarget.classList.toggle("expand");
      nextTarget.classList.toggle("row-footer");
      floatingBtn.toggleAttribute("disabled");
    }else {
      disableActive();
    }
  }

  function disableActive() {
    var disableElements = document.querySelectorAll('.active, .expand, .row-footer');
    disableElements.forEach(element => {
      element.classList.remove('active', 'expand', 'row-footer');
    });
    floatingBtn.removeAttribute("disabled");
  }

  function setAttrId(docId) {
    delDocIcon.setAttribute("asp-route-id",docId)
  }
</script>