@model Doctrack.Models.DocumentViewModel

@{
  ViewData["Title"] = "Documents List";
}

<h2>Documents</h2>
<hr />

<p class="btn btn-primary">
  <a asp-action="Create" style="color:white;">Create Document</a>
</p>

<div class="flex-container">
  <div class="flex-header">
    <div class="cell-header">Receipt Date</div>
    <div class="cell-header">Documents No.</div>
    <div class="cell-header">Doc.Title</div>
    <div class="cell-header">Operation</div>
    <div class="cell-header">Op.Date</div>
    <div class="cell-header">Command Order</div>
    <div class="cell-header">Remarks</div>
    <div class="cell-header">End Date</div>
    <div class="cell-header">Actions</div>
  </div>
  @foreach (var doc in Model.Documents)
  {
    <div class="flex-row" onclick="displayTable('@doc.Id')">
      <div class="cell">@doc.ReceiptDate?.ToString("dd/MM/yyyy")</div>
      <div class="cell">@doc.Id</div>
      <div class="cell">@doc.DocumentType?.Title</div>
      <div class="cell">@doc.Operation</div>
      <div class="cell">@doc.OperationDate?.ToString("dd/MM/yyyy")</div>
      <div class="cell">@doc.CommandOrder</div>
      <div class="cell">@doc.RemarkAll</div>
      <div class="cell">@doc.EndDate?.ToString("dd/MM/yyyy")</div>
      <div class="cell">
        <a asp-action="Add" asp-route-id="@doc.Id">Add</a>
        <a asp-action="Edit" asp-route-id="@doc.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@doc.Id">Delete</a>
      </div>
    </div>
    var currentDD = Model.DocumentsDetail
      .Where(dd => dd.Doc_Id == doc.Id);
    @if (currentDD.Count() > 0)
    {
      <div id="@doc.Id" class="flex-container sub-content">
        <div class="flex-header">
          <div class="cell-header sub-header">Job</div>
          <div class="cell-header sub-header">Title</div>
          <div class="cell-header sub-header">First Name</div>
          <div class="cell-header sub-header">Last Name</div>
          <div class="cell-header sub-header">Remark</div>
        </div>
      
        @foreach (var docd in currentDD)
        {
          <div class="flex-row sub-container">
            <div class="cell sub-header">@docd.Employee?.Job?.Title</div>
            <div class="cell sub-header">@docd.Employee?.Rank?.Title</div>
            <div class="cell sub-header">@docd.Employee?.FirstName</div>
            <div class="cell sub-header">@docd.Employee?.LastName</div>
            <div class="cell sub-header">@docd.Remark</div>
          </div>
        }
      </div>
    }
  }
</div>

<script>
  function displayTable(id) {
    var row = document.getElementById(id);
    row.classList.toggle("expand");
  }
</script>