@model IEnumerable<Rank>

@if(Model != null)
{
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <body>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Id</td>
          <td>@item.Title</td>
          <td>
            <span class="wrapper-privilege-action">
            @if(ViewBag.isAdmin){
              <a 
                asp-action="Edit"
                asp-route-id="@item.Id"
              >Edit</a>
              <span>&nbsp;|&nbsp;</span>
              <a 
                asp-action="Delete"
                asp-route-id="@item.Id"
              >Delete</a>
            }else{
              <a 
                asp-action="Edit"
                asp-route-id="@item.Id"
                class="disabled-btn"
              >Edit</a>
              <span>&nbsp;|&nbsp;</span>
              <a 
                asp-action="Delete"
                asp-route-id="@item.Id"
                class="disabled-btn"
              >Delete</a>
            }
            </span>
          </td>
        </tr>
      }
    </body>
  </table>
}else {
  <table class="table not-found">
    <thead>
    <tr>
      <th>Search Not Found...</th>
    </tr>
    </thead>
  </table>
}